<div class="logo-container">
  <span class="logo-container__logo centered">H</span>
  <p class="logo-container__company"><span>Hurler</span> Webdesign</p>
</div>

<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__list-item"><a href="#">Home</a></li>
    <li class="navigation__list-item"><a href="#">Features</a></li>
    <li class="navigation__list-item"><a href="#">Contact</a></li>
  </ul>
</nav>
<div class="burger-menu centered">
  <ng-icon name="cssMenu" class="burger-menu__icon"></ng-icon>
</div>
